html,
body,
#root,
.app {
    width: 100vw;
    height: 100vh;
    margin: 0;
}

.app {
    position: relative;
}

.overlay {
    position: fixed;
    inset: 0;
    z-index: 10;
}

.app canvas {
    position: fixed !important;
    inset: 0;
    width: 100vw !important;
    height: 100vh !important;
    z-index: -1;
}